<!------------------------------------- Inlcusion de el panel superior y el panel lateral--------------------------------------------------------------------------->
<div ng-include="'views/navigation.html'"></div>
<!--********************************  Aqui comienza mi pagina principal de muestra de informacion  DASHBOARD principal********************************************* -->
<div id="page-wrapper">
    <div class="row">
        <h3>{{lugar}}</h3>
        <h2 class="page-header">Monitor de Cobertura del departamento de La Paz</h2>
        <h1>Panel de Cobertura</h1>
        Panel de cobertura del departamento de La Paz
        <p>{{miLista}}</p>
        <p>Este es el dato desde l app principal</p>
        <h3>{{mensajePrincipal}}</h3>
    </div>
</div>